{
  "openapi": "3.1.0",
  "info": {
    "title": "Nimble SDK",
    "version": "1.0.0",
    "description": "The AI-Native SDK for Real-Time Web Data at scale"
  },
  "paths": {
    "/v1/realtime/serp": {
      "post": {
        "servers": [
          {
            "url": "https://api.us.webit.live/api",
            "description": "Production"
          }
        ],
        "summary": "Fast Google SERP",
        "tags": [
          "Fast SERP"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FastSerpPayload"
                  }
                ],
                "examples": [
                  {
                    "search_engine": "google_search",
                    "query": "NBA Allstar 2026",
                    "country": "US",
                    "locale": "en"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SerpResponse"
                    }
                  ],
                  "examples": [
                    {
                      "url": "https://www.google.com/search?hl=en&gl=us&q=NBA+Allstar+2026",
                      "task_id": "bd46cd9c-50f7-4736-9c4a-660a32e4dc87",
                      "status": "success",
                      "query_time": "2026-03-05T13:47:16.435Z",
                      "html_content": "...",
                      "status_code": 200,
                      "parsing": {
                        "entities": {
                          "AnswerBox": [
                            {
                              "entity_type": "AnswerBox",
                              "snippet": "NBANBA",
                              "snippet_highlighted": [
                                "NBANBA"
                              ],
                              "display_link": ""
                            }
                          ],
                          "InlineImages": [
                            {
                              "entity_type": "InlineImages",
                              "title": "#NBAAllStar 2026: Day of Service with Habitat for Humanity & Baby2Baby",
                              "url": "https://www.youtube.com/watch?v=CG98tKo"
                            }
                          ],
                          "OrganicResult": [
                            {
                              "position": 1,
                              "title": "2026 All-Star | Schedule",
                              "url": "https://www.nba.com/allstar/2026/schedule",
                              "snippet": "The 2026 NBA All-Star Game will take place on Sunday, Feb. 15, 2026 in Los Angeles, California at the Intuit Dome, the home of the LA Clippers.",
                              "cleaned_domain": "nba",
                              "displayed_url": "https://www.nba.com › allstar › 2026 › schedule",
                              "entity_type": "OrganicResult"
                            },
                            {
                              "position": 2,
                              "title": "2026 All-Star | Roster",
                              "url": "https://www.nba.com/allstar/2026/roster",
                              "snippet": "2026 All-Star · Latest · Events. Feb. 13: Ruffles All-Star Celebrity Game ...",
                              "cleaned_domain": "nba",
                              "displayed_url": "https://www.nba.com › allstar › 2026 › roster",
                              "entity_type": "OrganicResult"
                            },
                            {
                              "...": "more results"
                            }
                          ],
                          "TopStory": [
                            {
                              "entity_type": "TopStory",
                              "url": "https://www.youtube.com/watch?v=0omGCG98tKo"
                            },
                            {
                              "...": "more results"
                            }
                          ],
                          "Pagination": [
                            {
                              "current_page": 1,
                              "entity_type": "Pagination",
                              "next_page_url": "https://www.google.com/search?q=NBA+All+Star+2026&start=10",
                              "other_page_urls": {
                                "3": "https://www.google.com/search?q=NBA+All+Star+2026&start=20",
                                "...": "more pages"
                              }
                            }
                          ],
                          "RelatedQuestion": [
                            {
                              "entity_type": "RelatedQuestion",
                              "question": "Who are the NBA All-Star 2026?"
                            },
                            {
                              "...": "more questions"
                            }
                          ],
                          "RelatedSearch": [
                            {
                              "entity_type": "RelatedSearch",
                              "position": "7",
                              "query": "NBA All-Star 2026 tickets",
                              "url": "/search?q=NBA+All-Star+2026+tickets"
                            },
                            {
                              "...": "more searches"
                            }
                          ]
                        },
                        "total_entities_count": 32,
                        "entities_count": {
                          "AnswerBox": 1,
                          "InlineImages": 1,
                          "OrganicResult": 8,
                          "Pagination": 1,
                          "RelatedQuestion": 4,
                          "RelatedSearch": 14,
                          "TopStory": 3
                        },
                        "metrics": {}
                      },
                      "nimble_pagination": {
                        "next_page_url": "https://api.us.webit.live/api/v1/realtime/serp?search_engine=google_search&query=NBA+Allstar+2026&country=US&locale=en&parse=true&page_params=...",
                        "other_pages": [
                          "..."
                        ]
                      },
                      "nimble_payload": {
                        "next_page": {
                          "search_engine": "google_search",
                          "query": "NBA Allstar 2026",
                          "country": "US",
                          "locale": "en",
                          "parse": "true",
                          "page_params": "q=NBA+All+Star+2026&start=10&..."
                        }
                      },
                      "driver": "vx6"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error402"
                }
              }
            }
          },
          "400": {
            "description": "Unprocessable Entity - Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/v2/extract/templates/run": {
      "post": {
        "description": "Execute Extract Template Realtime Endpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractionTemplateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "additionalProperties": false,
                      "properties": {
                        "browser_actions": {
                          "additionalProperties": false,
                          "description": "Browser actions execution results. Present only when browser_actions were specified in the request.",
                          "properties": {
                            "results": {
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "duration": {
                                    "minimum": 0,
                                    "type": "number"
                                  },
                                  "error": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "enum": [
                                      "goto",
                                      "wait",
                                      "wait_for_element",
                                      "wait_for_navigation",
                                      "click",
                                      "fill",
                                      "press",
                                      "scroll",
                                      "auto_scroll",
                                      "screenshot",
                                      "get_cookies",
                                      "eval",
                                      "fetch"
                                    ],
                                    "type": "string"
                                  },
                                  "result": {},
                                  "status": {
                                    "enum": [
                                      "no-run",
                                      "in-progress",
                                      "done",
                                      "error",
                                      "skipped"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "status",
                                  "duration"
                                ],
                                "type": "object"
                              },
                              "readOnly": true,
                              "type": "array"
                            },
                            "success": {
                              "type": "boolean"
                            },
                            "total_duration": {
                              "minimum": 0,
                              "type": "number"
                            }
                          },
                          "required": [
                            "success",
                            "results",
                            "total_duration"
                          ],
                          "type": "object"
                        },
                        "cookies": {
                          "description": "The cookies collected from browser actions during the task.",
                          "items": {},
                          "type": "array"
                        },
                        "eval": {
                          "description": "The evaluation results from browser actions during the task.",
                          "items": {},
                          "type": "array"
                        },
                        "fetch": {
                          "description": "The http requests from browser actions made during the task.",
                          "items": {},
                          "type": "array"
                        },
                        "headers": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "The headers received during the task.",
                          "propertyNames": {
                            "type": "string"
                          },
                          "type": "object"
                        },
                        "html": {
                          "description": "The HTML content of the page.",
                          "type": "string"
                        },
                        "links": {
                          "description": "List of all unique URLs found on the page.",
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "markdown": {
                          "description": "The Markdown version of the HTML content.",
                          "type": "string"
                        },
                        "network_capture": {
                          "description": "The network capture data collected during the task.",
                          "items": {
                            "additionalProperties": false,
                            "properties": {
                              "errorMessage": {
                                "type": "string"
                              },
                              "filter": {
                                "additionalProperties": false,
                                "properties": {
                                  "method": {
                                    "enum": [
                                      "GET",
                                      "HEAD",
                                      "POST",
                                      "PUT",
                                      "DELETE",
                                      "CONNECT",
                                      "OPTIONS",
                                      "TRACE",
                                      "PATCH"
                                    ],
                                    "type": "string"
                                  },
                                  "resource_type": {
                                    "anyOf": [
                                      {
                                        "description": "Resource type for network capture filtering",
                                        "enum": [
                                          "document",
                                          "stylesheet",
                                          "image",
                                          "media",
                                          "font",
                                          "script",
                                          "texttrack",
                                          "xhr",
                                          "fetch",
                                          "prefetch",
                                          "eventsource",
                                          "websocket",
                                          "manifest",
                                          "signedexchange",
                                          "ping",
                                          "cspviolationreport",
                                          "preflight",
                                          "other",
                                          "fedcm"
                                        ],
                                        "examples": [
                                          "document",
                                          "script",
                                          "xhr",
                                          "fetch"
                                        ],
                                        "type": "string"
                                      },
                                      {
                                        "items": {
                                          "description": "Resource type for network capture filtering",
                                          "enum": [
                                            "document",
                                            "stylesheet",
                                            "image",
                                            "media",
                                            "font",
                                            "script",
                                            "texttrack",
                                            "xhr",
                                            "fetch",
                                            "prefetch",
                                            "eventsource",
                                            "websocket",
                                            "manifest",
                                            "signedexchange",
                                            "ping",
                                            "cspviolationreport",
                                            "preflight",
                                            "other",
                                            "fedcm"
                                          ],
                                          "examples": [
                                            "document",
                                            "script",
                                            "xhr",
                                            "fetch"
                                          ],
                                          "type": "string"
                                        },
                                        "minItems": 1,
                                        "type": "array"
                                      }
                                    ]
                                  },
                                  "status_code": {
                                    "anyOf": [
                                      {
                                        "maximum": 599,
                                        "minimum": 100,
                                        "type": "number"
                                      },
                                      {
                                        "items": {
                                          "maximum": 599,
                                          "minimum": 100,
                                          "type": "number"
                                        },
                                        "minItems": 1,
                                        "type": "array"
                                      }
                                    ]
                                  },
                                  "url": {
                                    "additionalProperties": false,
                                    "properties": {
                                      "type": {
                                        "default": "exact",
                                        "enum": [
                                          "exact",
                                          "contains"
                                        ],
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "value"
                                    ],
                                    "type": "object"
                                  },
                                  "validation": {
                                    "default": false,
                                    "type": "boolean"
                                  },
                                  "wait_for_requests_count": {
                                    "default": 0,
                                    "minimum": 0,
                                    "type": "number"
                                  },
                                  "wait_for_requests_count_timeout": {
                                    "exclusiveMinimum": 0,
                                    "maximum": 300000,
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "validation",
                                  "wait_for_requests_count"
                                ],
                                "type": "object"
                              },
                              "results": {
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "request": {
                                      "additionalProperties": false,
                                      "properties": {
                                        "body": {
                                          "type": "string"
                                        },
                                        "headers": {
                                          "additionalProperties": {
                                            "type": "string"
                                          },
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "type": "object"
                                        },
                                        "method": {
                                          "type": "string"
                                        },
                                        "resource_type": {
                                          "description": "Resource type for network capture filtering",
                                          "enum": [
                                            "document",
                                            "stylesheet",
                                            "image",
                                            "media",
                                            "font",
                                            "script",
                                            "texttrack",
                                            "xhr",
                                            "fetch",
                                            "prefetch",
                                            "eventsource",
                                            "websocket",
                                            "manifest",
                                            "signedexchange",
                                            "ping",
                                            "cspviolationreport",
                                            "preflight",
                                            "other",
                                            "fedcm"
                                          ],
                                          "examples": [
                                            "document",
                                            "script",
                                            "xhr",
                                            "fetch"
                                          ],
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "resource_type",
                                        "method",
                                        "url",
                                        "headers"
                                      ],
                                      "type": "object"
                                    },
                                    "response": {
                                      "additionalProperties": false,
                                      "properties": {
                                        "body": {
                                          "type": "string"
                                        },
                                        "headers": {
                                          "additionalProperties": {
                                            "type": "string"
                                          },
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "type": "object"
                                        },
                                        "serialization": {
                                          "enum": [
                                            "none",
                                            "base64"
                                          ],
                                          "type": "string"
                                        },
                                        "status": {
                                          "type": "number"
                                        },
                                        "status_text": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "status",
                                        "status_text",
                                        "headers",
                                        "serialization",
                                        "body"
                                      ],
                                      "type": "object"
                                    }
                                  },
                                  "required": [
                                    "request",
                                    "response"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              }
                            },
                            "required": [
                              "filter",
                              "results"
                            ],
                            "type": "object"
                          },
                          "readOnly": true,
                          "type": "array"
                        },
                        "pages_html": {
                          "description": "Individual HTML content of each pagination page, before merging.",
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "parsing": {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/ParsingSuccessResult"
                            },
                            {
                              "$ref": "#/components/schemas/ParsingErrorResult"
                            },
                            {
                              "additionalProperties": {},
                              "propertyNames": {
                                "type": "string"
                              },
                              "type": "object"
                            }
                          ],
                          "description": "The parsing results extracted from the HTML & network content."
                        },
                        "redirects": {
                          "description": "The list of redirects that occurred during the task.",
                          "items": {
                            "additionalProperties": false,
                            "properties": {
                              "status_code": {
                                "maximum": 599,
                                "minimum": 100,
                                "type": "number"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "status_code",
                              "url"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "screenshots": {
                          "description": "Screenshots taken during the task, from browser actions, or the screenshot format.",
                          "items": {},
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "debug": {
                      "additionalProperties": false,
                      "properties": {
                        "performance_metrics": {
                          "additionalProperties": {
                            "type": "number"
                          },
                          "description": "Performance metrics collected during the task.",
                          "propertyNames": {
                            "type": "string"
                          },
                          "type": "object"
                        },
                        "proxy_total_bytes_usage": {
                          "description": "Total bytes used by the proxy during the task.",
                          "minimum": 0,
                          "type": "number"
                        },
                        "transformed_output": {
                          "description": "The transformed output after applying any transformations."
                        },
                        "userbrowser": {
                          "description": "The userbrowser instance using during the task."
                        }
                      },
                      "type": "object"
                    },
                    "metadata": {
                      "additionalProperties": false,
                      "properties": {
                        "agent": {
                          "description": "The name of the agent used for the query.",
                          "type": "string"
                        },
                        "driver": {
                          "description": "The driver used for the task.",
                          "type": "string"
                        },
                        "localization_id": {
                          "description": "The localization identifier for the query.",
                          "type": "string"
                        },
                        "query_duration": {
                          "description": "The duration in milliseconds of the query processing.",
                          "type": "number"
                        },
                        "query_time": {
                          "description": "The time when the query was received.",
                          "type": "string"
                        },
                        "response_parameters": {
                          "description": "Additional response parameters."
                        },
                        "tag": {
                          "description": "A tag associated with the query.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "pagination": {
                      "anyOf": [
                        {
                          "additionalProperties": false,
                          "properties": {
                            "next_page_params": {
                              "additionalProperties": {},
                              "properties": {},
                              "type": "object"
                            }
                          },
                          "required": [
                            "next_page_params"
                          ],
                          "type": "object"
                        },
                        {
                          "items": {
                            "additionalProperties": false,
                            "properties": {
                              "next_page_params": {
                                "additionalProperties": {},
                                "properties": {},
                                "type": "object"
                              }
                            },
                            "required": [
                              "next_page_params"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        }
                      ],
                      "description": "Pagination information if applicable."
                    },
                    "status": {
                      "description": "The status of the task.",
                      "enum": [
                        "success",
                        "skipped",
                        "fatal",
                        "error",
                        "postponed",
                        "ignored",
                        "rejected",
                        "blocked"
                      ],
                      "type": "string"
                    },
                    "status_code": {
                      "description": "The HTTP status code of the task.",
                      "type": "number"
                    },
                    "task_id": {
                      "description": "Unique identifier for the task.",
                      "type": "string"
                    },
                    "url": {
                      "description": "The final URL.",
                      "type": "string"
                    },
                    "warnings": {
                      "description": "List of warnings generated during the task.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "task_id",
                    "url",
                    "status",
                    "data",
                    "metadata"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Successful Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "msg": {
                      "examples": [
                        "Template not found"
                      ],
                      "type": "string"
                    },
                    "status": {
                      "const": "failed",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "msg"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Template Not Found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Extract Templates API"
        ],
        "summary": "Run Extract Template",
        "operationId": "runExtractTemplate"
      }
    },
    "/v2/extract/templates/async": {
      "post": {
        "description": "Execute Extract Template Async Endpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExtractionTemplateBody"
                  },
                  {
                    "properties": {
                      "callback_url": {
                        "description": "URL to call back when async operation completes",
                        "examples": [
                          "https://example.com/webhook/callback"
                        ],
                        "type": "string"
                      },
                      "storage_compress": {
                        "description": "Whether to compress stored data",
                        "examples": [
                          true
                        ],
                        "type": "boolean"
                      },
                      "storage_object_name": {
                        "description": "Custom name for the stored object",
                        "examples": [
                          "result-2024-01-15.json"
                        ],
                        "type": "string"
                      },
                      "storage_type": {
                        "description": "Type of storage to use for results",
                        "examples": [
                          "s3"
                        ],
                        "type": "string"
                      },
                      "storage_url": {
                        "description": "URL for storage location",
                        "examples": [
                          "s3://bucket-name/path/to/object"
                        ],
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "const": "success",
                      "type": "string"
                    },
                    "task": {
                      "additionalProperties": {},
                      "properties": {},
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "task"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Async Task Created"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Extract Templates API"
        ],
        "summary": "Run Extract Template (Async)",
        "operationId": "runExtractTemplateAsync"
      }
    },
    "/v2/extract/templates/batch": {
      "post": {
        "description": "Execute Extract Template Batch Endpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractionTemplateBatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractBatchResponse"
                }
              }
            },
            "description": "Batch Created"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Extract Templates API"
        ],
        "summary": "Run Extract Template (Batch)",
        "operationId": "runExtractTemplateBatch"
      }
    },
    "/v2/extract/templates": {
      "get": {
        "operationId": "listExtractTemplates",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "title": "Offset",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_ExtractTemplateResponsePublicV2_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List Extract Templates",
        "tags": [
          "Extract Templates API"
        ]
      }
    },
    "/v2/extract/templates/{extract_template_name}": {
      "delete": {
        "operationId": "deleteExtractTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "extract_template_name",
            "required": true,
            "schema": {
              "title": "Extract Template Name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Delete Extract Template",
        "tags": [
          "Extract Templates API"
        ]
      },
      "get": {
        "operationId": "getExtractTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "extract_template_name",
            "required": true,
            "schema": {
              "title": "Extract Template Name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractTemplateResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Extract Template",
        "tags": [
          "Extract Templates API"
        ]
      },
      "patch": {
        "operationId": "updateExtractTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "extract_template_name",
            "required": true,
            "schema": {
              "title": "Extract Template Name",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractTemplateResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Update Extract Template",
        "tags": [
          "Extract Templates API"
        ]
      }
    },
    "/v2/extract/templates/{extract_template_name}/versions": {
      "get": {
        "operationId": "listExtractTemplateVersions",
        "parameters": [
          {
            "in": "path",
            "name": "extract_template_name",
            "required": true,
            "schema": {
              "title": "Extract Template Name",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "title": "Offset",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_ExtractTemplateVersionResponsePublicV2_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List Extract Template Versions",
        "tags": [
          "Extract Templates API"
        ]
      }
    },
    "/v2/extract/templates/{extract_template_name}/versions/{version_id}": {
      "get": {
        "operationId": "getExtractTemplateVersion",
        "parameters": [
          {
            "in": "path",
            "name": "extract_template_name",
            "required": true,
            "schema": {
              "title": "Extract Template Name",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "version_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Version Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractTemplateVersionResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Extract Template Version",
        "tags": [
          "Extract Templates API"
        ]
      }
    },
    "/v2/extract/templates/generations": {
      "post": {
        "operationId": "generateExtractTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CreateExtractTemplateGenerationRequestPublicV2"
                  },
                  {
                    "$ref": "#/components/schemas/CreateExtractTemplateRefinementRequestPublicV2"
                  }
                ],
                "title": "Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractTemplateGenerationResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create Extract Template Generation",
        "tags": [
          "Extract Templates API"
        ]
      }
    },
    "/v2/extract/templates/generations/{generation_id}": {
      "get": {
        "operationId": "getExtractTemplateGeneration",
        "parameters": [
          {
            "in": "path",
            "name": "generation_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Generation Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractTemplateGenerationResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Extract Template Generation",
        "tags": [
          "Extract Templates API"
        ]
      }
    },
    "/v2/tasks": {
      "get": {
        "description": "Retrieve a paginated list of tasks for the authenticated account.",
        "parameters": [
          {
            "description": "Cursor for pagination. Use the next_cursor from the previous response.",
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Cursor for pagination. Use the next_cursor from the previous response.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Number of tasks to return per page.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "description": "Number of tasks to return per page.",
              "examples": [
                10
              ],
              "maximum": 9007199254740991,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            },
            "description": "List of tasks returned successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskErrorResponse"
                }
              }
            },
            "description": "Invalid query parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskErrorResponse"
                }
              }
            },
            "description": "Internal server error while retrieving tasks."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List tasks",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/v2/tasks/{task_id}": {
      "get": {
        "description": "Retrieve the details of a specific task by its ID.",
        "parameters": [
          {
            "description": "The unique identifier of the task.",
            "in": "path",
            "name": "task_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of the task.",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponseSchema"
                }
              }
            },
            "description": "Task found and returned successfully."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskNotFoundErrorResponse"
                }
              }
            },
            "description": "Task not found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskErrorResponse"
                }
              }
            },
            "description": "Internal server error while retrieving task."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Task Status",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/v2/tasks/{task_id}/results": {
      "get": {
        "description": "Retrieve the results of a completed task.",
        "parameters": [
          {
            "description": "The unique identifier of the task.",
            "in": "path",
            "name": "task_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of the task.",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "description": "The results of the completed task.",
                  "propertyNames": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            },
            "description": "Task results"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskPendingResponse"
                }
              }
            },
            "description": "Task is still pending and results are not yet available."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskErrorResponse"
                }
              }
            },
            "description": "Task not found or results are no longer available."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskFailedResponse"
                }
              }
            },
            "description": "Task failed or error retrieving results."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Task Result",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/v2/batches": {
      "get": {
        "description": "Retrieve a paginated list of batches for the authenticated account.",
        "responses": {
          "200": {
            "description": "List of batches returned successfully."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List batches",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/v2/batches/{batch_id}": {
      "get": {
        "description": "Retrieve the details of a batch including all its tasks and completion status.",
        "parameters": [
          {
            "description": "The unique identifier of the batch.",
            "in": "path",
            "name": "batch_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of the batch.",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetResponse"
                }
              }
            },
            "description": "Batch found and returned successfully."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskErrorResponse"
                }
              }
            },
            "description": "Batch not found."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get batch details",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/v2/batches/{batch_id}/progress": {
      "get": {
        "description": "Retrieve lightweight progress information for a batch without fetching all task details.",
        "parameters": [
          {
            "description": "The unique identifier of the batch.",
            "in": "path",
            "name": "batch_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of the batch.",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchProgressResponse"
                }
              }
            },
            "description": "Batch progress returned successfully."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskErrorResponse"
                }
              }
            },
            "description": "Batch not found."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get batch progress",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/v2/agents": {
      "get": {
        "operationId": "list_agents_public_v2_api_v2_public_web_search_agents_get",
        "parameters": [
          {
            "in": "query",
            "name": "workspace_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "format": "uuid",
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            },
            "description": "Only return agents belonging to this workspace. Defaults to the workspace resolved from your token."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "title": "Offset",
              "type": "integer"
            },
            "description": "Number of items to skip before this page."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            },
            "description": "Maximum number of items to return (1-200)."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WebSearchAgentResponsePublicV2_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List Agents",
        "tags": [
          "Public API"
        ],
        "description": "List the active Web Search Agents in your account. Results are scoped to the workspace resolved from your token (or the optional `workspace_id` query parameter) and paginated with `offset`/`limit`."
      },
      "post": {
        "operationId": "create_agent_public_v2_api_v2_public_web_search_agents_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchAgentCreateRequestPublicV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchAgentResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Create Agent",
        "tags": [
          "Public API"
        ],
        "description": "Create a Web Search Agent. Either pass `template` to materialize a pre-built template (its fields, goals, sources, and suggested questions are copied), or define the agent from scratch with `display_name`, `goals`, `sources`, and an optional `output_schema` for structured results.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v2/agents/runs": {
      "post": {
        "description": "Creates a minimal persistent Web Search Agent and starts a run for it. The response includes `web_search_agent_id` for later agent and run queries.",
        "operationId": "create_run_with_generated_agent_public_v2_api_v2_public_web_search_agents_runs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchAgentRunCreateRequestPublicV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskRunResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyCookie": []
          }
        ],
        "summary": "Create Run",
        "tags": [
          "Public API"
        ]
      }
    },
    "/v2/agents/templates": {
      "get": {
        "operationId": "list_templates_public_v2_api_v2_public_web_search_agents_templates_get",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "title": "Offset",
              "type": "integer"
            },
            "description": "Number of items to skip before this page."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            },
            "description": "Maximum number of items to return (1-200)."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WebSearchAgentTemplateResponsePublicV2_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List Agent Templates",
        "tags": [
          "Public API"
        ],
        "description": "List the pre-built agent templates available to your account. Use a template's `template_name` with `POST /v2/agents` to create an agent instance from it."
      }
    },
    "/v2/agents/templates/{template_name}": {
      "get": {
        "operationId": "get_template_public_v2_api_v2_public_web_search_agents_templates__template_name__get",
        "parameters": [
          {
            "in": "path",
            "name": "template_name",
            "required": true,
            "schema": {
              "title": "Template Name",
              "type": "string"
            },
            "description": "Stable template name, e.g. `linkedin_company_profiles`."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchAgentTemplateResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "404": {
            "description": "Template not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Template 'linkedin_company_profiles' not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Agent Template",
        "tags": [
          "Public API"
        ],
        "description": "Retrieve a single agent template by its stable `template_name`."
      }
    },
    "/v2/agents/{agent_id}": {
      "delete": {
        "operationId": "deactivate_agent_public_v2_api_v2_public_web_search_agents__agent_id__delete",
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Agent Id",
              "type": "string"
            },
            "description": "Web Search Agent ID, format `wsa_<uuid>`."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "404": {
            "description": "Agent not found (or not owned by your account).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Web Search Agent wsa_2af5b0e2-58b8-4b60-a1a4-9e57e4d33f00 not found"
                }
              }
            }
          }
        },
        "summary": "Deactivate Agent",
        "tags": [
          "Public API"
        ],
        "description": "Deactivate an agent. This is a soft delete: the agent can no longer start new runs, but its existing runs and their results remain retrievable.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "get": {
        "operationId": "get_agent_public_v2_api_v2_public_web_search_agents__agent_id__get",
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Agent Id",
              "type": "string"
            },
            "description": "Web Search Agent ID, format `wsa_<uuid>`."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchAgentResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "404": {
            "description": "Agent not found (or not owned by your account).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Web Search Agent wsa_2af5b0e2-58b8-4b60-a1a4-9e57e4d33f00 not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Agent",
        "tags": [
          "Public API"
        ],
        "description": "Retrieve a single Web Search Agent by ID."
      },
      "patch": {
        "operationId": "update_agent_public_v2_api_v2_public_web_search_agents__agent_id__patch",
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Agent Id",
              "type": "string"
            },
            "description": "Web Search Agent ID, format `wsa_<uuid>`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchAgentResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "404": {
            "description": "Agent not found (or not owned by your account).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Web Search Agent wsa_2af5b0e2-58b8-4b60-a1a4-9e57e4d33f00 not found"
                }
              }
            }
          }
        },
        "summary": "Update Agent",
        "tags": [
          "Public API"
        ],
        "description": "Update an agent with a [JSON Patch](https://datatracker.ietf.org/doc/html/rfc6902) document — an array of `{op, path, value}` operations applied to the agent, e.g. `[{\"op\": \"replace\", \"path\": \"/display_name\", \"value\": \"My agent\"}]`. Returns the updated agent.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v2/agents/{agent_id}/runs": {
      "get": {
        "operationId": "list_runs_public_v2_api_v2_public_web_search_agents__agent_id__runs_get",
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Agent Id",
              "type": "string"
            },
            "description": "Web Search Agent ID, format `wsa_<uuid>`."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "title": "Offset",
              "type": "integer"
            },
            "description": "Number of items to skip before this page."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            },
            "description": "Maximum number of items to return (1-200)."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_TaskRunResponsePublicV2_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "404": {
            "description": "Agent not found (or not owned by your account).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Web Search Agent wsa_2af5b0e2-58b8-4b60-a1a4-9e57e4d33f00 not found"
                }
              }
            }
          }
        },
        "summary": "List Agent Runs",
        "tags": [
          "Public API"
        ],
        "description": "List the runs of an agent, newest first, paginated with `offset`/`limit`.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "create_run_public_v2_api_v2_public_web_search_agents__agent_id__runs_post",
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Agent Id",
              "type": "string"
            },
            "description": "Web Search Agent ID, format `wsa_<uuid>`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchAgentRunCreateRequestPublicV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskRunResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "404": {
            "description": "Agent not found, not owned by your account, or deactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Web Search Agent wsa_2af5b0e2-58b8-4b60-a1a4-9e57e4d33f00 is not active"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create Agent Run",
        "tags": [
          "Public API"
        ],
        "description": "Start an agent run. The run executes asynchronously: the response returns immediately with status `queued`, then poll `GET .../runs/{run_id}` until `completed` and fetch the output from `GET .../runs/{run_id}/result` — or set `enable_events: true` and follow `GET .../runs/{run_id}/events` for live progress.\n\nTo enrich existing records instead of researching from scratch, pass them in `input_data`; this requires an `output_schema` (on the request or the agent)."
      }
    },
    "/v2/agents/{agent_id}/runs/{run_id}": {
      "get": {
        "operationId": "get_run_public_v2_api_v2_public_web_search_agents__agent_id__runs__run_id__get",
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Agent Id",
              "type": "string"
            },
            "description": "Web Search Agent ID, format `wsa_<uuid>`."
          },
          {
            "in": "path",
            "name": "run_id",
            "required": true,
            "schema": {
              "title": "Run Id",
              "type": "string"
            },
            "description": "Run ID, format `task_run_<uuid>`."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskRunResponsePublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "404": {
            "description": "Run not found for this agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Run 'task_run_c0ffee00-0000-4000-8000-000000000000' not found for agent wsa_2af5b0e2-58b8-4b60-a1a4-9e57e4d33f00"
                }
              }
            }
          }
        },
        "summary": "Get Agent Run",
        "tags": [
          "Public API"
        ],
        "description": "Retrieve a run's current state. Poll this endpoint after creating a run: the run is finished once `status` is `completed`, `failed`, or `cancelled`.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v2/agents/{agent_id}/runs/{run_id}/events": {
      "get": {
        "operationId": "stream_run_events_public_v2_api_v2_public_web_search_agents__agent_id__runs__run_id__events_get",
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Agent Id",
              "type": "string"
            },
            "description": "Web Search Agent ID, format `wsa_<uuid>`."
          },
          {
            "in": "path",
            "name": "run_id",
            "required": true,
            "schema": {
              "title": "Run Id",
              "type": "string"
            },
            "description": "Run ID, format `task_run_<uuid>`."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "title": "Event stream"
                },
                "example": "data: {\"type\": \"progress\", \"message\": \"Searching linkedin.com\"}\n\n"
              }
            },
            "description": "Server-sent event stream of run activity."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "404": {
            "description": "Run not found for this agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Run 'task_run_c0ffee00-0000-4000-8000-000000000000' not found for agent wsa_2af5b0e2-58b8-4b60-a1a4-9e57e4d33f00"
                }
              }
            }
          }
        },
        "summary": "Stream Agent Run Events",
        "tags": [
          "Public API"
        ],
        "description": "Stream a run's progress as [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events) (`text/event-stream`). Create the run with `enable_events: true` to have events published. A keep-alive comment is sent every 15 seconds.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v2/agents/{agent_id}/runs/{run_id}/result": {
      "get": {
        "operationId": "get_run_result_public_v2_api_v2_public_web_search_agents__agent_id__runs__run_id__result_get",
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Agent Id",
              "type": "string"
            },
            "description": "Web Search Agent ID, format `wsa_<uuid>`."
          },
          {
            "in": "path",
            "name": "run_id",
            "required": true,
            "schema": {
              "title": "Run Id",
              "type": "string"
            },
            "description": "Run ID, format `task_run_<uuid>`."
          }
        ],
        "responses": {
          "200": {
            "description": "Run completed; the output is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskRunResultPublicV2"
                }
              }
            }
          },
          "422": {
            "description": "The run failed or was cancelled. `detail` carries the run and its error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "$ref": "#/components/schemas/TaskRunFailedResultPublicV2"
                    }
                  },
                  "title": "FailedRunDetail"
                }
              }
            }
          },
          "404": {
            "description": "Run not found for this agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Run 'task_run_c0ffee00-0000-4000-8000-000000000000' not found for agent wsa_2af5b0e2-58b8-4b60-a1a4-9e57e4d33f00"
                }
              }
            }
          },
          "409": {
            "description": "Run is still queued or running. Poll `GET .../runs/{run_id}` until `status` is `completed`, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "title": "Detail"
                    }
                  },
                  "title": "ErrorDetail"
                },
                "example": {
                  "detail": "Run still active; poll the run status endpoint (GET .../runs/task_run_c0ffee00-0000-4000-8000-000000000000) until completed"
                }
              }
            }
          }
        },
        "summary": "Get Agent Run Result",
        "tags": [
          "Public API"
        ],
        "description": "Fetch the output of a completed run. The `output` is `type: \"text\"` (a prose answer) or `type: \"json\"` (structured data matching the output schema), plus `trust` metadata with per-claim citations for the answer.\n\nWhile the run is still `queued` or `running` this endpoint returns `409`; if the run `failed` or was `cancelled` it returns `422` with the run and error details.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v2/jobs": {
      "get": {
        "operationId": "list_jobs_public_v2_api_v2_public_jobs_get",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "title": "Offset",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_JobPublicV2_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List Jobs",
        "tags": [
          "Jobs"
        ]
      },
      "post": {
        "operationId": "create_job_public_v2_api_v2_public_jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRequestPublicV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create Job",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/v2/jobs/runs/{run_id}": {
      "get": {
        "operationId": "get_run_public_v2_api_v2_public_jobs_runs__run_id__get",
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "required": true,
            "schema": {
              "title": "Run Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobRunDetailPublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Run",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/v2/jobs/runs/{run_id}/artifacts": {
      "get": {
        "operationId": "list_run_artifacts_public_v2_api_v2_public_jobs_runs__run_id__artifacts_get",
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "required": true,
            "schema": {
              "title": "Run Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactListPublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List Run Artifacts",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/v2/jobs/runs/{run_id}/artifacts/{artifact_id}": {
      "get": {
        "operationId": "get_run_artifact_public_v2_api_v2_public_jobs_runs__run_id__artifacts__artifact_id__get",
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "required": true,
            "schema": {
              "title": "Run Id",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "artifact_id",
            "required": true,
            "schema": {
              "title": "Artifact Id",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactPublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Run Artifact",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/v2/jobs/runs/{run_id}/artifacts/{artifact_id}/download-url": {
      "get": {
        "operationId": "get_run_artifact_download_url_public_v2_api_v2_public_jobs_runs__run_id__artifacts__artifact_id__download_url_get",
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "required": true,
            "schema": {
              "title": "Run Id",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "artifact_id",
            "required": true,
            "schema": {
              "title": "Artifact Id",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactDownloadUrlPublicV2"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
[...]
